.ProductScreen h2 {
  margin:10px;
  padding: 5px;
  background-color: var(--background);
  text-align: center;
}

.addButton,.searchButton {
  padding: 10px;
  margin: 10px;
  background-color: var(--main-theme);
  color: white;
  border: none;
}

.ProductScreen button:hover {
  transform: scale(1.05);
  transition: all ease-out 0.5s;
}