@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --main-theme: #2f2c30;
    --product-card: #ffffff;
    --background: #8a8a8a;
}

.app {
    width: 100%;
}

.check_text {
    display: flex;
    justify-content: center;
    color: #f6070f;
    visibility: hidden;
}

.group {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
}

.group>input {
    padding: 5px
}

.group>label {
    margin: 5px;
}

#modal-modal-description {
    width: 100%;
}

.addform {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchform {
    margin-left: 10px;
    margin-right: 10px;
}

.searchform>input {
    padding: 5px;
    width: 30%;
}

.LoginScreen {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form_container {
    display: flex;
    flex-direction: column;
    background: #2f2c30;
    height: 50%;
    width: 30%;
    justify-content: center;
}

.form_container label {
    display: flex;
    color: white;
    font-size: larger;
    font-weight: 600;
    width: 100%;

    justify-content: center;
}

.vicon {
    display: flex;
    align-items: center;
    color: white;
}

.form_container Input {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90%;
    background: #8a8a8a;
    margin: 5px;
    flex-grow: 1;
}

.emailInput,
.passwordInput {
    display: flex;
    justify-content: center;
}

.form_container button {
    color: white;
    width: 100%;
    display: flex;
}

.StoreOwnerScreen>h3 {
    text-align: center;
    margin: 10px;
}

.OwnerStoreScreen>h5 {
    text-align: center;
    margin: 10px;
}

.StoreDetails h3 {
    text-align: center;
    margin: 10px;
}

.SalesScreen h3 {
    text-align: center;
    margin: 10px;
}

@media only screen and (min-width: 320px) and (max-width: 576px) {
    .searchform {
        margin-left: 10px;
        margin-right: 10px;
    }

    .searchform>input {
        margin-right: 10px;
        width: 80%;
    }

    .form_container {
        height: 50%;
        width: 80%;
    }

}